<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microblog.dao.mapper.BlogMapper">

	<!-- 发表新微博 -->
	
	<insert id="saveBlog" parameterType="com.microblog.bean.Blog">
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">select max(id)+1 from blog </selectKey>
		insert into
		blog(id,uid,text,fdate,source,pic,video)
		values(#{id},#{user.uid},#{text},now(),#{source},#{pic},#{video}
		)
	
	</insert>


	<!-- 查询所有微博 -->
	<select id="getBlog" resultMap="BlogMap">
		select * from blog
	</select>
	<resultMap type="Blog" id="BlogMap">
		<association property="user" column="uid"
			select="com.microblog.dao.mapper.UserMapper.getUser" />
	</resultMap>

	<!-- 查询总微博数 -->
	<select id="getBlogCount" resultType="int">
		select count(*) from blog where uid in(select b_uid from concern where f_uid=#{f_uid})
	</select>
	
		<!-- 查询莫用户发表总微博数 -->
	<select id="getBlogCountByUserid" resultType="int">
		select count(*) from blog where uid =#{uid}
	</select>
	
	<!-- 查询某用户的微博 -->
	<select id="getBlogByUserId" resultMap="getPinglun">
		select * from blog where uid=#{uid}
	</select>
	<resultMap type="Blog" id="getPinglun">
		<collection property="comment" column="id" select="com.microblog.dao.mapper.CommentMapper.getAllComment">
		</collection>
	</resultMap>

	
</mapper>
