<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microblog.dao.mapper.BlogMapper">
	<insert id="saveBlog" parameterType="Blog">
	<selectKey keyProperty="id" >select max(id)+1 from blog </selectKey>
		insert into
		blog(uid,text,fdate,source,pic,video)
		values(#{uid},#{text},now(),#{source}
		<if test="pic!=null and pic!='' ">,#{pic}</if>
		<if test="video!=null and video !=''">,#{video}</if>
		)
	</insert>


	<select id="getBlog" resultMap="BlogMap">
		select * from blog
	</select>
	<resultMap type="Blog" id="BlogMap">
		<association property="user" column="uid"
			select="com.microblog.dao.mapper.UserMapper.getUser" />
	</resultMap>

	<select id="getBlogCount" resultType="int">
		select count(1) from blog
	</select>
</mapper>