<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microblog.dao.mapper.CommentMapper">
	<!-- 查询此条微博所有评论 -->
	<select id="getAllComment">
		select * from comment where blog_id=#{blog.id}
	</select>
	<!-- 添加评论 -->
	<insert id="addComment">
		<selectKey keyProperty="id" order="BEFORE" resultType="Integer">
			select max(id) from comment
		</selectKey>
		insert into comment(id,blog_id,c_uid,text,ctime)
		values(#{id},#{blog.id},#{user.uid},#{text},now())
	</insert>
	
	<!-- 删除评论 -->
	<delete id="delComment">
		delete * from comment where c_uid=#{user.uid}
	</delete>

</mapper>