<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microblog.dao.mapper.GroupsMapper">
	<!-- 查询默认分组 -->
	<select id="getBaseGroups" resultType="Groups">
		select * from groups limit 1,5
	</select>
	<!-- 插入用户默认分组 -->
	<insert id="addGroups" parameterType="Groups" >
		<selectKey keyProperty="id" order="BEFORE" resultType="Integer">
			select max(id)+1 from groups
		</selectKey>
		insert into groups values(#{id},#{name})
	</insert>
	
	<select id="getUserGroupsByUserID" parameterType="map" resultType="Groups">
		select * from user_group inner join groups on user_group.group_id=groups.id where uid=#{uid};
	</select>
	
	<!-- 删除用户默认分组 -->
	<delete id="delUserGroupsById">
		delete from user_group where id=#{id}
	</delete>

</mapper>