<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microblog.dao.mapper.User_groupMapper">
	<insert id="addUserGroup">
		<selectKey keyProperty="id" order="BEFORE" resultType="Integer">
			select max(id)+1 from users
		</selectKey>
		insert into user_group(id,uid,group_id) values(#{id},#{uid},#{group.id})
	</insert>

</mapper>