<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microblog.dao.mapper.UserMapper">

	<!-- 注册时提供一个功能： 电话号码不能重名 -->
	<select id="getUserByTelephone" resultType="User" parameterType="User">
		select * from users where telephone = #{telephone}
	</select>
	<!-- 注册时提供一个功能： Email不能重名 -->
	<select id="getUserByEmail" resultType="User" parameterType="User">
		select * from users where email = #{email}
	</select>
	
	<select id="getUserByLogin1" resultType="User" parameterType="User">
		select * from users where email = #{email} and password = #{password}
	</select>
	
	<select id="getUserByLogin2" resultType="User" parameterType="User">
		select * from users where telephone = #{telephone} and password = #{password}
	</select>
	
	<select id="getUser" resultType="User">
		select * from users where uid = #{uid}
	</select>
	
	<insert id="saveUser" parameterType="User">
		<selectKey keyProperty="uid" order="BEFORE" resultType="Integer">
			select max(uid)+1 from users
		</selectKey>
		insert into users(uid,email,password,telephone,nickname,birthday)
		values(#{uid}, #{email}, #{password},
		#{telephone},#{nickname},#{birthday}) 
	</insert>
	
	<update id="updateUser" parameterType="User">
	update Users set nickname=#{nickname},pic=#{pic},sex=#{sex},birthday=#{birthday},sign=#{sign}
	where uid=#{uid}
	</update>
	
	<!-- 插入用户默认分组 -->
	<insert id="addUserGroup">
		<selectKey keyProperty="group.ug_id" order="BEFORE" resultType="Integer">
			select max(id)+1 from user_group
		</selectKey>
		insert into user_group(id,uid,group_id) values(#{group.ug_id},#{uid},#{group.id})
	</insert>
	
	<!-- 删除用户默认分组 -->
	<delete id="delUserGroupsByUid">
		delete from user_group where uid=#{uid} and id=#{id}
	</delete>
	
	<!-- 查询所有的用户Id  websocket使用-->
	<select	id="getAllUserId" resultType="int">
		select uid from users
	</select>
	
	<!-- 查询当前用户总微博数 -->
	<select id="getBlogCount" resultType="Integer">
		select count(1) from blog where uid=#{uid}
	</select>
	
	
</mapper>