@charset "utf-8";
/* CSS Document */
/* container部分 */
#container{
	width:765px;
	height:auto;
	margin:0px auto;
}
/* banner部分 */
#banner{
	width:765px;
	height:270px;
	padding:0px;
	margin:0px;
	background-color:#FFF;
}
     /* banner部分的left */
    #banner .left{
		width:564px;
		height:260px;
		border-right:solid 1px #9FF;
		float:left;
		padding-top:10px;
	}
	    /* 密码修改内容 */
	    #banner .n1{
		    width:210px;
		    height:30px;
			line-height:30px;
			font-size:20px;
			border:1px #0CF solid;
	    }
		/* 保存按钮 */
	    #banner .btn{
		    width:80px;
		    height:40px;
		    background-color:#0184C9;
		    border:none;
        }
     /* banner部分的right */
	#banner .right{
		width:190px;
		height:270px;
		padding-left:10px;
		float:left;
		background-color:#e9f4fa;
	}

