@charset "utf-8";
/* CSS Document */
/* 页面整体 */
#container{
	width:765px;
	height:auto;
	margin:0px auto;
}
	/* 头部容器top DIV */
	#top{
	width:765px;
	height:80px;
	position:relative;
}
	/* top部分的LogoDIV */
	#topLogo{
		width:200px;
		height:80px;	
	}
		/* topLogo部分的icoDIV */
		#topLogoIco{
			width:72px;
			height:72px;
			margin-top:4px;
			float:left;
		}
		/* topLogo部分的wordDIV */
		#topLogoWord{
			width:128px;
			height:60px;
			float:left;
			margin-top:12px;
		}
			/* topLogo下的img */
			#topLogo img{
				border:none;
			}
	/* top部分的文字导航 */
	#topWordMenu{
		width:330px;
		height:30px;
		position:absolute;
		top:33px;
		left:430px;
	}
		/* top部分的ul */
		#topWordMenu ul{
			margin:0px;
			padding:0px;
			list-style:none;
		}
			/* top部分的li */
			#topWordMenu ul li{
				display:inline;
				/*float:left;*/
				margin:0px 8px;
			}
			/* top部分的文字链接 */
			#topWordMenu a:link{
				text-decoration:none;
			}
			#topWordMenu a:visited{
				text-decoration:none;
			}
			#topWordMenu a:hover{
				color:#FFF;
				text-decoration:none;
			}
	/* 下部头注册DIV */
		#mainTop{
			overflow:hidden;
			height:80px;
			width:765px;
			background-position:top;
			background-image:url(../images/ZCBJ.gif);
			margin-bottom:10px;
		}
		/* 下部头注册内容DIV */
		#mainTopContent{
			width:765px;
			margin:0px auto;
			height:90px;
			position:relative;
		}
			/* 头部字体DIV */
			#topWord{
				position:absolute;
				left: 13px;
				top: 28px;
			}
			/* 头部文本框 DIV */
			#topTextDIV{
	height:27px;
	width:210px;
	position:absolute;
	left: 378px;
	top: 25px;
			}
			/* 头部文本框 */
			#topText{
				width:210px;
				height:27px;
				font-size:18px;
			}
			/* 注册按钮DIV */
			#ZCButton{
				border:0px;
				width:146px;
				position:absolute;
				top:26px;
				left:596px;
			}
			/* 注册DIV */
			#ZC{
				height:auto;
				width:755px;
				margin-left:10px;
			}
			/* 电子邮箱DIV */
			#mail1{
				position:absolute;
				left: 30px;
				top: 80px;
				height: 22px;
				width: 49px;
			}
			/* 电子邮箱输入框DIV */
			#mail2{
				position:absolute;
				left: 110px;
				top: 80px;
				width:auto;
			}
			/* 电子邮箱提示框DIV */
			#mail3{
				position:absolute;
				left: 310px;
				top: 80px;
				width: 400px;
				height:20px;
				background-color:#F2F2F2;
				border:1px solid #CCCCCC;
			}
			/* 创建密码DIV */
			#password11{
				position:absolute;
				left: 30px;
				top: 120px;
			}
			/* 创建密码输入框DIV */
			#password12{
				position:absolute;
				left: 110px;
				top: 120px;
				width:auto;
			}
			/* 创建密码提示框DIV */
			#password13{
	position:absolute;
	left: 310px;
	top: 120px;
	width:400px;
	background-color:#F2F2F2;
	border:1px solid #CCCCCC;
	height:20px;
	visibility:hidden;
			}
			/* 密码确认DIV */
			#password21{
	position:absolute;
	left: 30px;
	top: 160px;
			}
			/* 创建密码输入框DIV */
			#password22{
	position:absolute;
	left: 110px;
	top: 160px;
	width:auto;
			}
			/* 创建密码提示框DIV */
			#password23{
	position:absolute;
	left: 310px;
	top: 160px;
	height:20px;
	width:400px;
	background-color:#F2F2F2;
	border:1px solid #CCCCCC;
	visibility:hidden;
			}
			/* 验证码DIV */
			#yangzhen1{
	position:absolute;
	left: 30px;
	top: 200px;
	width: 49px;
			}
			/* 验证码输入框DIV */
			#yangzheng2{
	position:absolute;
	left: 110px;
	top: 200px;
	width:auto;
			}
			/* 验证码提示框DIV */
			#yangzhen3{
	position:absolute;
	height:20px;
	left: 310px;
	top: 200px;
	width:400px;
	background-color:#F2F2F2;
	border:1px solid #CCCCCC;
	visibility:hidden;
			}
			/* 邮箱输入框 */
			#mailInput{
				width:180px;				
			}
			/* 密码输入框 */
			#passwordInput{
				width:180px;
			}
			/* 密码确认输入框 */
			#passwordTwice{
				width:180px;
			}
			/* 验证码输入框 */
			#yangzhen{
				width:90px;
			}
			/* 验证图片DIV */
			#picyanzheng{
	position:absolute;
	width:60px;
	height:20px;
	left: 230px;
	top: 200px;
	background-color:#FAFAFA;
	border:1px solid #FED683;
	font-size:18px;
	color:#393939;
	text-align:center;
			}
			/* 换一换样式 */
			#btn1{
				width:20px;
				background-color: transparent;
				border:0px;
			}
			/* 换验证码DIV */
			#change{
	position:absolute;
	width:150px;
	height:14px;
	left: 110px;
	top: 230px;
	color:#999999;
			}
			#success{
	position:absolute;
	left: 113px;
	top: 256px;
			}
			#hangUp{
	position:absolute;
	left: 700px;
	top: 260px;
			}
			#flash1{
	position:absolute;
	left: 542px;
	top: 174px;
	width: 470px;
	height: 200px;
			}
			
	/* 页面主体 */
	#banner{
		width:565px;
		height:auto;
		background-color:#FFF;
	    border:#CCC solid;
	    border-width:1px;
		}
		/* 页面主体TOP部分 */
		#bannerTop{
			width:565px;
			height:auto;
			}
			/* bannerTop的图像位置 */
			#bannerTop img{
				margin-left:35px;
				margin-top:10px;
				margin-bottom:10px;
				float:left;
			  }
		    /* bannerWord的图像问题 */
			#bannerWord{
				width:150px;
				height:70px;
				float:left;
				margin-left:15px;
				margin-top:10px;
				padding:15px 0px 15px 0px;
				}
				/* bannerWord的图像位置 */
				#bannerWord img{
					margin:0px 10px;
					}
			/* bannerFocus部分 */
		    #bannerFocus{
				clear:left;
				width:485px;
				height:50px;
				margin-left:35px;
				padding-left:15px;
				/*float:left;*/
				background-color:#e4f5fd;
				}
				/* bannerFocus加关注按钮的颜色等设计 */
			   #bannerFocus .btn1{
				   width:90px;
				   height:30px;
				   background-color:#effddd;
				   font-size:16px;
				   font-weight:bold;
				   color:#005dc3;
				   margin-top:10px;
				   border:#cccccc dashed;
				   border-width:1px;
				   }
			/* bannerAttention微博状态的部分 */
				.bannerAttention{
					width:510px;
					height:auto;
					margin-left:30px;
					margin-top:10px;
					border-bottom-color:#cccccc;
					border-bottom-style:dashed;
					border-bottom-width:2px;
				}
				.bannerAttention1{
					width:510px;
					height:auto;
					margin-left:30px;
					margin-top:10px;
					}
			  /* bannerAttention的图像位置 */
			  #bannerAttention1 img{
				  margin-left:5px;
				  margin-top:20px;
				  }
			/* 查看更多部分 */
			  #look{
				width:550px;
				padding-left:15px;
				background-color:#e4f5fd;
				text-align:center;
				border-top:#ccc dashed;
				border-width:2px;
				}
				/* look按钮部分 */
				  #look .btn2{
				   width:90px;
				   height:30px;
				   background-color:#effddd;
				   font-size:16px;
				   font-weight:bold;
				   color:#005dc3;
				   margin-top:0px;
				   border:#cccccc dashed;
				   border-width:1px; 
				   }
		/* footer部分*/
	#footer{
		width:765px;
		height:50px;
		margin:0px auto;
		background-color:#C1E6F5;
	}
	/* footer链接部分*/
	#footerLink{
		width:600px;
		height:30px;
		margin:0px auto;
		position:relative;
		line-height:30px;
		color:#444444;
	}
		/* footer部分的链接 */
		#footerLink ul{
			list-style:none;
			padding:0px;
			margin:0px;
		}
		#footerLink li{
			/*float:left;*/
			display:inline;
			margin:0px 10px;
		}
	/* footer部分的版权信息 */
	#footerCopy{
		width:250px;
		height:20px;
		color:#444444;
		line-height:20px;
		margin:0px auto;
		text-align:center;
	}
