@charset "utf-8";
/* CSS Document */
#container{
	width:767px;
	height:auto;
	margin:0px auto;
	position:relative;
}
/* top部分 */
#top{
	width:765px;
	height:80px;
	position:relative;
}
	/* top部分的LogoDIV */
	#topLogo{
		width:200px;
		height:80px;	
	}
		/* topLogo部分的icoDIV */
		#topLogoIco{
			width:72px;
			height:72px;
			margin-top:4px;
			float:left;
		}
		/* topLogo部分的wordDIV */
		#topLogoWord{
			width:128px;
			height:60px;
			float:left;
			margin-top:12px;
		}
			/* topLogo下的img */
			#topLogo img{
				border:none;
			}
	/* top部分的文字导航 */
	#topWordMenu{
		width:350px;
		height:30px;
		position:absolute;
		top:33px;
		left:450px;
	}
		/* top部分的ul */
		#topWordMenu ul{
			margin:0px;
			padding:0px;
			list-style:none;
		}
			/* top部分的li */
			#topWordMenu ul li{
				display:inline;
				/*float:left;*/
				margin:0px 12px;
				padding:3px;
				
			}
			/* top部分的文字链接 */
			#topWordMenu a:link{
				text-decoration:none;
			}
			#topWordMenu a:visited{
				text-decoration:none;
			}
			#topWordMenu a:hover{
				text-decoration:none;
			}
	/* 中部文字导航 */		
	#menu{
		margin-top:10px;
		}
	/* word 字体设置 */
	#word{
		height:100px;
		height:30px;
		text-align:center;
		font-family:"宋体";
		font-size:50px;
		margin-top:20px;
		color:#06F;
		}
	/* 主体登录部分 */	
	#banner{
		width:765px;
		height:300px;
		margin-top:50px;
		margin-left:330px;
		border-color:#9CF;
		line-height:50px;
		text-align:center;
		position:relative;
		top:20px;
	       }
	/* 登录文字部分 */
    #banner .ld{
		text-align:right;
		}
		/* banner .button */
		#banner .button{
			padding-top:20px;
			padding-right:10px;
			}
	/* footer 部分 */
		#footer{
		margin-top:10px;
		}
		
	/* footer链接部分*/
	#footerLink{
		width:600px;
		height:30px;
		margin:0px auto;
		position:relative;
		line-height:30px;
	}
		/* footer部分的链接 */
		#footerLink ul{
			list-style:none;
			padding:0px;
			margin:0px;
		}
		#footerLink li{
			/*float:left;*/
			display:inline;
			margin:0px 10px;
		}
	/* footer部分的版权信息 */
	#footerCopy{
		width:250px;
		height:20px;
		color:#5c4444;
		line-height:20px;
		margin:0px auto;
		text-align:center;
	}
	/* 超链接设置 */
	a:link{
		text-decoration:none;
		border:none;
		  }
	a:visited{
		text-decoration:none;
		  }
	a:hover{
	text-decoration:none;
	font-size: 14px;
		  }
